*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
.container{
    width: 550px;
    padding: 1rem;
}
.content{
    color: rgb(0, 0, 0);
    font-weight: 700;
    display: flex;
    justify-content: space-around;
}
#pointerCount{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}
#pointerCount #div1, #pointerCount #div2 {
    width: 180px;
    height: 110px;
    border: 2px dotted black;
    /* color: white; */
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media only screen and (max-width: 468px){
    .content{
       display: none;
    }
    #pointerCount{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    #pointerCount #div1::before{
        content: "X:";
    }
    #pointerCount #div2::before{
        content: "Y:";
    }
    body{
        background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    }
}